---
layout: post
widgets: 
  - colophon
  - share
---
<div style = "display: flex; flex-direction: column; min-height: 100%;">
<div id = "aboutBanner">
    <img class = "avatar" src = "{{ page.avatar }}"/>

    <div id = "a-intro">
        <h1>{{ page.heading }}</h1>

        <span>{{ page.intro | default:site.description }}</span>

        {%- for attr in page.attrs -%}
        <div>
            <span><i class = "nf {{ attr.icon }}"></i> {{ attr.first[0] }}: </span>
            <span>{{ attr.first[1] }}</span>
        </div>
        {%- endfor -%}

    </div>
</div>

{{ content }}

</div>